'{{ form_start(form) }}<div class="form-row question-row"><div class="col-8">{{ form_widget(form.question) }}</div><div class="col-2">{{ form_widget(form.type) }}</div><div class="col-1">{{ form_row(form.save) }}</div><div class="col-1"><button type="button" class="close remove-question"><span aria-hidden="true">&times;</span></button></div></div><hr/>{{ form_end(form) }}'

