{% extends 'base.html.twig' %}

{% block title %}Form responses{% endblock %}

{% block body %}

    <div class="text-center">
        <h2>{{ dynamic_form.title }}</h2>
        <h5>{{ dynamic_form.description }}</h5>
    </div>
    <hr/>

    <div class="form-row">
        <div class="col-7 text-center"><h5>Question</h5></div>
        <div class="col-3 text-center"><h6>Response</h6></div>
        <div class="col-2 text-center"><h6>User</h6></div>
    </div>
    <hr/>

    {% for response in responses %}
        <div class="form-row">
            <div class="col-7 text-center"><h5>{{ response.question.question }}</h5></div>
            <div class="col-3 text-center"><h5>{{ response.answer }}</h5></div>
            <div class="col-2 text-center"><h5>{{ response.user.firstName}} {{ response.user.lastName }}</h5></div>
        </div>
        <hr/>
    {% endfor %}

    <a class="btn btn-sm btn-dark" href="{{ path('dynamic_form_show', {'id': dynamic_form.id}) }}">Back to form details</a>
{% endblock %}
