{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
    <tr>
        <td style="vertical-align: top; padding-bottom:30px;" align="center"><a href="#" target="_blank"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('build/images/logo-text.png') }}" alt="xtreme admin" style="border:none"><br>
                <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('build/images/logo-text.png') }}" alt="xtreme admin" style="border:none"></a> </td>
    </tr>
    <tr>
        <td><b>Dear {{ username }}</b>
            <p>This is to inform you that your login password for SpadeDESK has been reset</p>
            <p> Your new password is {{ password }}</p>
            <b>- Thanks (Spade team)</b> </td>
    </tr>
    </tbody>
</table>

