{% extends 'base.html.twig' %}

{% block title %}Form details{% endblock %}

{% block body %}
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ dynamic_form.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dynamic_form.description }}</td>
            </tr>
            {% if dynamic_form.regularPrice %}
                <tr>
                    <th>Regular price</th>
                    <td>{{ dynamic_form.regularPrice }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Sales price</th>
                <td><h5>{{ dynamic_form.salesPrice }}</h5></td>
            </tr>
            
        </tbody>
    </table>

    <div class="form-row">
        <div class="col-8 text-center"><h5>Question</h5></div>
        <div class="col-4 text-center"><h5>Response</h5></div>
    </div>
    <hr/>

    <div id="questions">
        <form method="post">
            {% for question in questions %}
                    {{ include('user/_show_question.html.twig', {'question': question}) }}
            {% else %}
                <div class="text-center">
                    <h5>No questions posted for this service yet</h5>
                </div>
            {% endfor %}
            
            {% if questions %}
                <div class="form-row">
                    <button class="btn btn-primary mb-2">Submit button</button>
                </div>
            {% endif %}
            <div class="form-row">
                <a href={{ path('dynamic_form_index_user') }} class="btn btn-dark"> Back to form listing</a>
            </div>
            
        </form>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    
                })
            });
    </script>
{% endblock %}
