{% extends 'base.html.twig' %}

{% block title %}Form details{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ dynamic_form.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dynamic_form.description }}</td>
            </tr>
            {% if dynamic_form.regularPrice %}
                <tr>
                    <th>Regular price</th>
                    <td>{{ dynamic_form.regularPrice }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Sales price</th>
                <td><h5>{{ dynamic_form.salesPrice }}</h5></td>
            </tr>
            
        </tbody>
    </table>

    <div class="form-row">
        <div class="col-8 text-center"><h5>Question</h5></div>
        <div class="col-4 text-center"><h5>Response</h5></div>
    </div>
    <hr/>

    <div id="questions">
        <form method="post">
            {% for question in questions %}
                    {{ include('user/_show_question.html.twig', {'question': question}) }}
            {% endfor %}

            <button id="saveResponse" class="btn btn-primary mb-2">Submit button</button>
            
        </form>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
